<!DOCTYPE html>
<html>

<head>
  <title>RailsPartialSpaDemo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>Rails Partial SPA Demo</header>
  <div class="wrapper">
    <nav>
      <ul>
        <li><%= link_to 'Users', users_path %></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </div>
</body>

</html>